<!DOCTYPE html>

<html>
    <head>
        <title>BASKETEBALL</title>
    </head>
    <body>
        <h1>Enter your name with your team</h1>
        <form action="/register" method="post">
            <input autofocus name="name" placeholder="Name" type="text">
            <input name="email" placeholder="Email" type="text">
            <select name="team">
                <option disabled selected value="">Team</option>
                <option value="Golden State Warriors">Golden State Warriors</option>
                <option value="Los Angeles Lakers">Los Angeles Lakers</option>
                <option value="Los Angeles Clippers">Los Angeles Clippers</option>
            </select>
            <input type="submit" value="Register">
        </form>
    </body>
</html>
